.form-select {
  width: 150px;
}

.form-squares-list {
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.width-5 {
  width: 195px;
}

.width-15 {
  width: 585px;
}

.width-25 {
  width: 985px;
}
